<div id="<%= dom_id server %>">
  <p>
    <strong>Name:</strong>
    <%= server.name %>
  </p>

  <p>
    <strong>Domain:</strong>
    <%= server.domain %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= server.comment %>
  </p>

  <p>
    <strong>Wafwoof result:</strong>
    <%= server.wafwoof_result %>
  </p>

  <p>
    <strong>Dig result:</strong>
    <%= server.dig_result %>
  </p>

</div>
