<div id="<%= dom_id server %>">
  <p>
    <strong>Name:</strong>
    <%= server.name %>
  </p>

  <p>
    <strong>Domain:</strong>
    <%= server.domain %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= server.comment %>
  </p>

  <p>
    <strong>Wafwoof result:</strong>
    <%= server.wafwoof_result %>
  </p>

  <p>
    <strong>Dig result:</strong>
    <%= server.dig_result %>
  </p>

  <p>
    <strong>pure_ip:</strong>
    <%= server.pure_ip %>
  </p>
  <p>
    <strong>title:</strong>
    <%= server.title %>
  </p>
  <p>
    <strong>os_type:</strong>
    <%= server.os_type %>
  </p>
  <p>
    <strong>web_server:</strong>
    <%= server.web_server %>
  </p>
  <p>
    <strong>web_framework:</strong>
    <%= server.web_framework %>
  </p>
  <p>
    <strong>web_language:</strong>
    <%= server.web_language %>
  </p>
  <p>
    <strong>observer_ward_result:</strong>
    <%= server.observer_ward_result %>
  </p>
  <p>
    <strong>ehole_result:</strong>
    <%= server.ehole_result %>
  </p>
  <p>
    <strong>level:</strong>
    <%= server.level %>
  </p>
  <p>
    <strong>wappalyzer_result:</strong>
    <%= server.wappalyzer_result %>
  </p>
  <p>
    <strong>the_harvester_result:</strong>
    <%= server.the_harvester_result %>
  </p>
  <p>
    <strong>nuclei_https_result:</strong>
    <%= server.nuclei_https_result %>
  </p>
  <p>
    <strong>nuclei_http_result:</strong>
    <%= server.nuclei_http_result %>
  </p>
  <p>
    <strong>nuclei_manual_result:</strong>
    <%= server.nuclei_manual_result %>
  </p>
  <p>
    <strong>domain_protocal:</strong>
    <%= server.domain_protocal %>
  </p>

</div>
