<p style="color: green"><%= notice %></p>

<div class='alert alert-info'>
  useful tips: <br/>
  1. ehole response code = 200 , and  no waf
  2. gobuster these, for admin, login url.
  3. other service, e.g. ftp, smb , mysql, postgres
  4. nmap for pure ip, with no waf
</div>

<h3>Servers</h3>
<%= form_tag servers_path, method: 'GET' do |f| %>
  Project：<%= select_tag :project_id, options_from_collection_for_select(Project.all.order('id desc'), :id, :name, params[:project_id]), include_blank: "all", class: 'form_select' %>
  Like by name: <%= text_field_tag "like_name", params[:like_name], placeholder: 'e.g. beiersdorf', class: 'form_select' %>
  Equal by name: <%= text_field_tag "equal_name", params[:equal_name], placeholder: 'e.g. www.zh.beiersdorf.cn', class: 'form_select' %>
  Like by ehole_text: <%= text_field_tag "ehole_text", params[:ehole_text], placeholder: '100 | 200 ..', class: 'form_select' %>
  If has waf: <%= select_tag "is_detected_waf", options_for_select([
    ["all", ''],
    ["confirmed behind waf(yes)", 'yes'],
    ["confirmed no waf", 'no']
  ], params["is_detected_waf"]), class: 'form_select' %>
  <br/>
  detected by wappalyzer: <%= select_tag "is_detected_by_wappalyzer", options_for_select(["all", "yes", "no"], params["is_detected_by_wappalyzer"]), class: 'form_select' %>
  detected by ehole: <%= select_tag "is_detected_by_ehole", options_for_select(["all", "yes", "no"], params["is_detected_by_ehole"]), class: 'form_select' %>
  detected by the_harvester: <%= select_tag "is_detected_by_the_harvester", options_for_select(["all", "yes", "no"], params["is_detected_by_the_harvester"]), class: 'form_select' %>
  detected by nmap: <%= select_tag "is_detected_by_nmap", options_for_select(["all", "yes", "no"], params["is_detected_by_nmap"]), class: 'form_select' %>
  detected by nmap(special ports): <%= select_tag "is_detected_by_nmap_for_special_ports", options_for_select(["all", "yes", "no"], params["is_detected_by_nmap_for_special_ports"]), class: 'form_select' %>
  detected by nuclei: <%= select_tag "is_detected_by_nuclei", options_for_select(["all", "yes", "no"], params["is_detected_by_nuclei"]), class: 'form_select' %>
  detected by dig: <%= select_tag "is_detected_by_dig", options_for_select(["all", "yes", "no"], params["is_detected_by_dig"]), class: 'form_select' %>
  is stared: <%= select_tag "is_stared", options_for_select([
    ["all", ''],
    ["yes", 1],
    ["no", 0]
  ], params["is_stared"]), class: 'form_select' %>
  <br/>
  level: <%= select_tag "level", options_for_select([["all", nil],
                                                     ["level1: marked direct domain(e.g. target.com) ", 1],
                                                     ["level2: sub domain and relative domain(e.g. sub.target.com)", 2],
                                                     ["level3: relative domain(tls not same, e.g target.abc)", 3],
                                                     ["level4: same ip domains(name not same, e.g. another-site.com)", 4]], params[:level]), class: 'form_select' %>
  <b>OR</b> check level by range: <%= text_field_tag "level_by_range", params[:level_by_range], placeholder: '1,2,3', class: 'form_select' %>
  order by: <%= text_field_tag "order_by", params[:order_by], placeholder: 'id desc', class: 'form_select' %>
  per page: <%= select_tag :per_page, options_for_select([100, 500, 1000], params[:per_page].to_i), class: 'form_select' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
  <%= link_to "New batch servers", new_batch_servers_servers_path, target: '_blank' %>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'Download csv', download_csv_servers_path(request.query_parameters) %><br/>
<% end %>

<h3>batch operations</h3>
<div>
  <%= link_to "detect by wafwoof", jobs_path(job_name: 'wafwoof'), data: {confirm: 'are you sure?'} , method: :post %>
  <%= link_to "detect by dig", jobs_path(job_name: 'dig'), data: {confirm: 'are you sure?'} , method: :post %>
  <%= link_to "detect by ehole", jobs_path(job_name: 'ehole'), data: {confirm: 'are you sure?'} , method: :post %>
  <%= link_to "detect by wappalyzer", jobs_path(job_name: 'wappalyzer'), data: {confirm: 'are you sure?'} , method: :post %>
  <%= link_to "detect by theharvester", jobs_path(job_name: 'theharvester'), data: {confirm: 'are you sure?'} , method: :post %>
  <%= link_to "detect by nuclei", jobs_path(job_name: 'nuclei'), data: {confirm: 'are you sure?'} , method: :post %>
  <%= link_to "detect by dirsearch", jobs_path(job_name: 'dirsearch'), data: {confirm: 'are you sure?'} , method: :post %>
</div>

total: <%= @total_count %><br/>
<span><%= paginate @servers %></span>
<table class='table table-bordered table-hovered table-striped'>
  <tr>
    <td style='width:50px'> ID </td>
    <td style='width: 150px'> name </td>
    <td style='width: 200px'> dig_result and <br/> nmap_result <br/> nmap_result_for_special_ports</td>
    <td style='width: 200px'> wafwoof_result </td>
    <td style='width: 100px'> wappalyzer_result </td>
    <td style='width: 200px'> ehole_result</td>
    <td style='width: 250px'> harvester_result</td>
    <td style='width: 100px'> nuclei_result</td>
    <td style='width: 100px'> domain_protocol</td>
    <td style='width: '> operations</td>
  </tr>
  <% @servers.each do |server| %>
    <tr>
      <td>
        <%= server.id %>
      </td>
      <td>
        <%= link_to server.name, "https://#{server.name}", target: '_blank' %>
        <% if server.is_stared %>
        <span style="font-size:30px;color:#ff6000;">&starf;</span>
        <% end %>

        <br/>
        project name: <%= server.project.try(:name) %><br/>
        project ID: <%= server.project_id rescue '' %><br/>
        comment: <%= server.comment %> <br/>
        level: <%= server.level %> <br/>
        created: <%= server.created_at %> <br/>
        updated: <%= server.created_at %>
      </td>
      <td>
        dig_result:
        <pre><%= server.dig_result %></pre>
        <br/>
        ip and ports: <br/>
        <% server.ips.each {|ip|  %>
          <%= ip.ip %>: <%= raw short_text_for_nmap_result(ip.nmap_result) %> <br/>
        <% } %>

        <hr/>
        special ports: <br/>
        <%= raw short_text_for_nmap_result server.nmap_result_for_special_ports %>

      </td>
      <td>
        <% if server.is_confirmed_not_behind_waf %>
          <span style='color:green'>No waf</span>
        <% elsif server.is_confirmed_behind_waf %>
          <span style='color:red'>Behind waf</span>
        <% else %>
          <span style='color:yellow'>Server seems down</span>
        <% end %>
        <pre>
        <%= server.wafwoof_result.split('Generic Detection results').last if server.wafwoof_result.present? %>
        </pre>
      </td>
      <td>
        <%= raw server.short_text_for_wappalyzer_result %>
      </td>
      <td>
        <%= server.ehole_result%>
      </td>
      <td>
        <% if server.short_text_for_the_harvester_result.size > 1500 %>
          <span style='color: red'>check detailed page for complete result </span>
        <% end %>
        <pre><%= server.short_text_for_the_harvester_result %></pre>
      </td>
      <td>
        HTTPS:  <br/>
        <pre><%= server.remove_ansi_color server.nuclei_https_result %></pre>
        <br/> <br/> <br/>
        HTTP: <br/>
        <pre><%= server.remove_ansi_color server.nuclei_http_result %></pre>
      </td>
      <td>
        <%= server.domain_protocol rescue '' %>
      </td>
      <td>
        <%= link_to "Show", server, target: '_blank' %>
        <%= link_to "Edit", edit_server_path(server), target: '_blank' %>
        <%= link_to "detect by wafw00f", job_path(server, job_name: ''), data: {confirm: 'are you sure?'} , method: :post %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @servers %>
<%# link_to "New server", new_server_path %>

<style>
table {
  border: 1px solid black;
  table-layout: fixed;
  width: 200px;
}

th,
td {
  border: 1px solid black;
  width: 100px;
  overflow: hidden;
}
</style>
