<p style="color: green"><%= notice %></p>

<h1>Servers</h1>
<%= form_tag servers_path, method: 'GET' do |f| %>
  <label>search by text: </label><br/>
  name: <%= text_field_tag "name", params[:name], placeholder: 'e.g. beiersdorf' %>
  ehole_text: <%= text_field_tag "ehole_text", params[:ehole_text], placeholder: '100 | 200 ..' %>
  <br/>
  <label>search by project:</label> <br/>
  Project：<%= select_tag :project_id, options_from_collection_for_select(Project.all, :id, :name), include_blank: "all", class: 'form_select' %>
  <br/>
  <label>search by detect status:</label> <br/>
  if has waf: <%= select_tag "is_detected_waf", options_for_select(["all", "yes", "no"], params["is_detected_waf"]), class: 'form_select' %>
  detected by wappalyzer: <%= select_tag "is_detected_by_wappalyzer", options_for_select(["all", "yes", "no"], params["is_detected_by_wappalyzer"]), class: 'form_select' %>
  detected by ehole: <%= select_tag "is_detected_by_ehole", options_for_select(["all", "yes", "no"], params["is_detected_by_ehole"]), class: 'form_select' %>
  detected by the_harvester: <%= select_tag "is_detected_by_the_harvester", options_for_select(["all", "yes", "no"], params["is_detected_by_the_harvester"]), class: 'form_select' %>
  detected by nmap: <%= select_tag "is_detected_by_nmap", options_for_select(["all", "yes", "no"], params["is_detected_by_nmap"]), class: 'form_select' %>
  detected by nuclei: <%= select_tag "is_detected_by_nuclei", options_for_select(["all", "yes", "no"], params["is_detected_by_nuclei"]), class: 'form_select' %>
  <br/>
  level: <%= select_tag "level", options_for_select([["all", nil], ["level1: marked direct domain", 1], ["level2: sub domain and relative domain", 2], ["level3: relative domain(tls not same)", 3], ["level4: same ip domains", 4]]), class: 'form_select' %>
  order by: <%= text_field_tag "order_by", params[:order_by], placeholder: 'id desc' %>
  <br/>
  <%= submit_tag 'search' %>
<% end %>
<%= link_to "new batch servers", new_batch_servers_servers_path, target: '_blank' %>
<%= link_to '下载csv', download_csv_servers_path %>
<br/>
<span><%= paginate @servers %>
total: <%= @total_count %></span>
<span style="margin-left: 80%;">per page: <%= select_tag :per_page, options_for_select([500, 1000, 100], params[:per_page].to_i), class: 'form_select', :onchange => "if(this.value){window.location='?per_page='+this.value;}" %><span>
<table class='table table-bordered table-hovered table-striped'>
  <tr>
    <td style='width:50px'> id </td>
    <td style='width: 150px'> name </td>
    <td style='width: 200px'> dig_result and <br/> nmap_result</td>
    <td style='width: 200px'> wafwoof_result</td>
    <td style='width: 100px'> wappalyzer_result </td>
    <td style='width: 200px'> ehole_result</td>
    <td style='width: 250px'> harvester_result</td>
    <td style='width: 100px'> nuclei_result</td>
    <td style='width: 100px'> domain_protocal</td>
    <td style='width: '> operations</td>
  </tr>
  <% @servers.each do |server| %>
    <tr>
      <td>
        <%= server.id %>
      </td>
      <td>
        <%= link_to server.name, server %>
        <br/>
        project name: <%= server.project.try(:name) %><br/>
        project ID: <%= server.project_id rescue '' %><br/>
        comment: <%= server.comment %> <br/>
        level: <%= server.level %> <br/>
        created: <%= server.created_at %> <br/>
        updated: <%= server.created_at %>
      </td>
      <td>
        dig_result:
        <pre><%= server.dig_result %></pre>
        <br/>
        ip and ports: <br/>
        <% server.ips.each {|ip|  %>
          <%= ip.ip %>: <%= raw ip.short_text_for_nmap_result %> <br/>
        <% } %>
      </td>
      <td>
        <%= raw server.wafwoof_result %>
      </td>
      <td>
        <%= raw server.short_text_for_wappalyzer_result %>
      </td>
      <td>
        <pre><%= server.ehole_result%></pre>
      </td>
      <td>
        <pre><%= server.short_text_for_the_harvester_result %></pre>
      </td>
      <td>
        HTTPS:  <br/>
        <pre><%= server.remove_ansi_color server.nuclei_https_result %></pre>
        <br/> <br/> <br/>
        HTTP: <br/>
        <pre><%= server.remove_ansi_color server.nuclei_http_result %></pre>
      </td>
      <td>
        <%= server.domain_protocal rescue '' %>
      </td>
      <td>
        <%= link_to "Show", server %>
        <%= link_to "Edit", edit_server_path(server), target: '_blank' %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @servers %>
<%# link_to "New server", new_server_path %>

<style>
table {
  border: 1px solid black;
  table-layout: fixed;
  width: 200px;
}

th,
td {
  border: 1px solid black;
  width: 100px;
  overflow: hidden;
}
</style>
