<p style="color: green"><%= notice %></p>

<div class='alert alert-info'>
  level 1: detect by shuize, the_harvester<br/>
  level 2+: detect by dig, waf, ehole, wappalyzer, nuclei, iplocation<br/>
  ip: detect by nmap<br/>
</div>

<h1>Servers</h1>
<%= form_tag servers_path, method: 'GET' do |f| %>
  <b>search by text:</b><br/>
  Like by name: <%= text_field_tag "like_name", params[:like_name], placeholder: 'e.g. beiersdorf', class: 'form_select' %>
  Equal by name: <%= text_field_tag "equal_name", params[:equal_name], placeholder: 'e.g. www.zh.beiersdorf.cn', class: 'form_select' %>
  Like by ehole_text: <%= text_field_tag "ehole_text", params[:ehole_text], placeholder: '100 | 200 ..', class: 'form_select' %>
  <br/>
  <b>search by project:</b><br/>
  Project：<%= select_tag :project_id, options_from_collection_for_select(Project.all, :id, :name, params[:project_id]), include_blank: "all", class: 'form_select' %>
  <br/>
  <b>search by detect status:</b><br/>
  if has waf: <%= select_tag "is_detected_waf", options_for_select(["all", "yes", "no"], params["is_detected_waf"]), class: 'form_select' %>
  detected by wappalyzer: <%= select_tag "is_detected_by_wappalyzer", options_for_select(["all", "yes", "no"], params["is_detected_by_wappalyzer"]), class: 'form_select' %>
  detected by ehole: <%= select_tag "is_detected_by_ehole", options_for_select(["all", "yes", "no"], params["is_detected_by_ehole"]), class: 'form_select' %>
  detected by the_harvester: <%= select_tag "is_detected_by_the_harvester", options_for_select(["all", "yes", "no"], params["is_detected_by_the_harvester"]), class: 'form_select' %>
  detected by nmap: <%= select_tag "is_detected_by_nmap", options_for_select(["all", "yes", "no"], params["is_detected_by_nmap"]), class: 'form_select' %>
  detected by nuclei: <%= select_tag "is_detected_by_nuclei", options_for_select(["all", "yes", "no"], params["is_detected_by_nuclei"]), class: 'form_select' %>
  <br/>
  level: <%= select_tag "level", options_for_select([["all", nil],
                                                     ["level1: marked direct domain(e.g. target.com) ", 1],
                                                     ["level2: sub domain and relative domain(e.g. sub.target.com)", 2],
                                                     ["level3: relative domain(tls not same, e.g target.abc)", 3],
                                                     ["level4: same ip domains(name not same, e.g. another-site.com)", 4]]), class: 'form_select' %>
  order by: <%= text_field_tag "order_by", params[:order_by], placeholder: 'id desc', class: 'form_select' %>
  <br/>
  <%= submit_tag 'search' %>
<% end %>
<%= link_to "new batch servers", new_batch_servers_servers_path, target: '_blank' %>&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Download csv', download_csv_servers_path %><br/>
total: <%= @total_count %><br/>
<span><%= paginate @servers %></span>
<span style="float: right">per page: <%= select_tag :per_page, options_for_select([500, 1000, 100], params[:per_page].to_i), class: 'form_select', :onchange => "if(this.value){window.location='?per_page='+this.value;}" %></span>
<table class='table table-bordered table-hovered table-striped'>
  <tr>
    <td style='width:50px'> id </td>
    <td style='width: 150px'> name </td>
    <td style='width: 200px'> dig_result and <br/> nmap_result</td>
    <td style='width: 200px'> wafwoof_result </td>
    <td style='width: 100px'> wappalyzer_result </td>
    <td style='width: 200px'> ehole_result</td>
    <td style='width: 250px'> harvester_result</td>
    <td style='width: 100px'> nuclei_result</td>
    <td style='width: 100px'> domain_protocal</td>
    <td style='width: '> operations</td>
  </tr>
  <% @servers.each do |server| %>
    <tr>
      <td>
        <%= server.id %>
      </td>
      <td>
        <%= link_to server.name, "https://#{server.name}", target: '_blank' %>
        <br/>
        project name: <%= server.project.try(:name) %><br/>
        project ID: <%= server.project_id rescue '' %><br/>
        comment: <%= server.comment %> <br/>
        level: <%= server.level %> <br/>
        created: <%= server.created_at %> <br/>
        updated: <%= server.created_at %>
      </td>
      <td>
        dig_result:
        <pre><%= server.dig_result %></pre>
        <br/>
        ip and ports: <br/>
        <% server.ips.each {|ip|  %>
          <%= ip.ip %>: <%= raw ip.short_text_for_nmap_result %> <br/>
        <% } %>
      </td>
      <td>
        <%= raw server.wafwoof_result.include?("is behind") ? "<span style='color:red'>Waf</span>" : "<span style='color:green'>No waf, or server down</span>" rescue '-'%>
      </td>
      <td>
        <%= raw server.short_text_for_wappalyzer_result %>
      </td>
      <td>
        <%= server.ehole_result%>
      </td>
      <td>
        <% if server.short_text_for_the_harvester_result.size > 1500 %>
          <span style='color: red'>check detailed page for complete result </span>
        <% end %>
        <pre><%= server.short_text_for_the_harvester_result %></pre>
      </td>
      <td>
        HTTPS:  <br/>
        <pre><%= server.remove_ansi_color server.nuclei_https_result %></pre>
        <br/> <br/> <br/>
        HTTP: <br/>
        <pre><%= server.remove_ansi_color server.nuclei_http_result %></pre>
      </td>
      <td>
        <%= server.domain_protocal rescue '' %>
      </td>
      <td>
        <%= link_to "Show", server %>
        <%= link_to "Edit", edit_server_path(server), target: '_blank' %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @servers %>
<%# link_to "New server", new_server_path %>

<style>
table {
  border: 1px solid black;
  table-layout: fixed;
  width: 200px;
}

th,
td {
  border: 1px solid black;
  width: 100px;
  overflow: hidden;
}
</style>
