<p style="color: green"><%= notice %></p>

<h1>Servers</h1>
<%= form_tag servers_path, method: 'GET' do |f| %>
  <label>search for text: </label><br/>
  name: <%= text_field_tag "name", params[:name], placeholder: 'e.g. beiersdorf' %>
  ehole_text: <%= text_field_tag "ehole_text", params[:ehole_text], placeholder: '100 | 200 ..' %>
  <br/>
  <br/>
  <label>search by detect status:</label> <br/>
  if has waf: <%= select_tag "is_detected_waf", options_for_select(["all", "yes", "no"], params["is_detected_waf"] ) %>
  detected by wappalyzer: <%= select_tag "is_detected_by_wappalyzer", options_for_select(["all", "yes", "no"], params["is_detected_by_wappalyzer"]  ) %>
  detected by ehole: <%= select_tag "is_detected_by_ehole", options_for_select(["all", "yes", "no"], params["is_detected_by_ehole"]  ) %>
  detected by the_harvester: <%= select_tag "is_detected_by_the_harvester", options_for_select(["all", "yes", "no"], params["is_detected_by_the_harvester"]  ) %>
  detected by nmap: <%= select_tag "is_detected_by_nmap", options_for_select(["all", "yes", "no"], params["is_detected_by_nmap"]  ) %>
  detected by nuclei: <%= select_tag "is_detected_by_nuclei", options_for_select(["all", "yes", "no"], params["is_detected_by_nuclei"]  ) %>

  <br/>
  level: <%= text_field_tag "level", params[:level], placeholder: '0,1,2... small is more important' %>
  order by: <%= text_field_tag "order_by", params[:order_by], placeholder: 'id desc' %>
  <br/>
  <%= submit_tag 'search', class: '' %>
<% end %>
<br/>
total: <%= @total_count %>
<%= paginate @servers %>
<table class='table table-bordered table-hovered table-striped'>
  <tr>
    <td style='width:50px'> id </td>
    <td style='width: 150px'> name </td>
    <td style='width: 200px'> dig_result and <br/> nmap_result</td>
    <td style='width: 200px'> wafwoof_result</td>
    <td style='width: 100px'> wappalyzer_result </td>
    <td style='width: 200px'> ehole_result</td>
    <td style='width: 250px'> harvester_result</td>
    <td style='width: 100px'> nuclei_result</td>
    <td style='width: '> operations</td>
  </tr>
  <% @servers.each do |server| %>
  <tr>
    <td> <%= server.id %> </td>
    <td>
      <%= server.name %>
      <br/>
      comment: <%= server.comment %> <br/>
      level: <%= server.level %> <br/>
      created: <%= server.created_at %> <br/>
      updated: <%= server.created_at %>
    </td>
    <td>
      dig_result:
      <pre><%= server.dig_result %></pre>
      <br/>
      ip and ports: <br/>
      <% server.ips.each {|ip|  %>
        <%= ip.ip %>: <pre><%= raw ip.short_text_for_nmap_result %> <br/>
        </pre>
      <% } %>
    </td>
    <td>
      <%= server.wafwoof_result %>
    </td>
    <td>
      <%= raw server.short_text_for_wappalyzer_result %>
    </td>
    <td>
      <%= server.ehole_result%>
    </td>
    <td>
      <pre><%= server.short_text_for_the_harvester_result %></pre>
    </td>
    <td>
      HTTPS:  <br/>
      <%= server.remove_ansi_color server.nuclei_https_result %>
      <br/> <br/> <br/>
      HTTP: <br/>
      <%= server.remove_ansi_color server.nuclei_http_result %>
    </td>
    <td>
      <%= link_to "Show", server %>
      <%= link_to "Edit", server %>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @servers %>
<%# link_to "New server", new_server_path %>

<style>
table {
  border: 1px solid black;
  table-layout: fixed;
  width: 200px;
}

th,
td {
  border: 1px solid black;
  width: 100px;
  overflow: hidden;
}
</style>
