<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class='table table-bordered table-hovered table-striped'>
    <tr>
      <th style="width: 200px;">
        <%= form.label :name, style: "display: block" %>
      </th>
      <td>
        <%= form.text_field :name, class: 'form-control', autofocus: true %>
      </td>
    </tr>
    <tr>
      <th style="width: 200px;">
        <%= form.label :description, style: "display: block" %>
      </th>
      <td>
        <%= form.text_area :description, class: 'form-control', rows: 5 %>
      </td>
    </tr>
  </table>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
