<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<h3>batch operations</h3>
<div>
  <%# link_to "detect by nmap", job_path(server, job_name: 'nmap'), data: {confirm: 'are you sure?'} , method: :post %>
  <%# link_to "detect by ehole", job_path(server, job_name: 'ehole'), data: {confirm: 'are you sure?'} , method: :post %>
</div>
total: <%= @total_count %>
<br/>
<%= link_to "New project", new_project_path %>&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Download csv', download_csv_projects_path %>
<%= paginate @projects %>
<div id="projects">
  <table class='table table-bordered table-hovered table-strprojected'>
    <tr>
      <th style="width: 100px;">
        ID
      </th>
      <td>
        Name
      </td>
      <td>
        Description
      </td>
      <td>
        Ips ( not behind waf )
      </td>
      <td>
        Servers(hide name not matched domains)
      </td>
      <td>
        Emails
      </td>
      <td>
        operations
      </td>
    </tr>
    <% @projects.each do |project| %>
      <tr>
        <th>
          <%= project.id %>
        </th>
        <td>
          <%= link_to project.name, project %>
        </td>
        <td>
          <%= project.description %>
        </td>
        <td>
          <%= raw project.ips_not_behind_waf.map {|e| e.ip }.uniq.join('<br/>')%>
        </td>
        <td>
          (<%= project.servers.where('level <= 3').count %>)<br/>
          <% project.servers.where('level <= 3').first(500).each do |server| %>
            <%= link_to server.name, server %><br/>
          <% end %>
        </td>
        <td>
          (<%= project.emails.count %>)<br/>
          <% project.emails.each do |email| %>
            <%= link_to email.address, email %><br/>
          <% end %>
        </td>
        <td>
          <%= link_to "Show", project %>&nbsp;&nbsp;
          <%= link_to "Edit", edit_project_path(project) %>
          <!--
          <%# link_to "get ips", job_path(server, job_name: 'nmap'), data: {confirm: 'are you sure?'} , method: :post %>
          <%# link_to "get real ips", job_path(server, job_name: 'nmap'), data: {confirm: 'are you sure?'} , method: :post %>
          -->
        </td>
      </tr>
  <% end %>
  </table>
</div>

<%= link_to "New project", new_project_path %>
