<%= form_with(model: email) do |form| %>
  <% if email.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
        <% email.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <table class='table table-bordered table-hovered table-striped'>
    <tr>
      <th style="width: 200px;">
        <%= form.label :address, style: "display: block" %>
      </th>
      <td>
        <%= form.text_field :address, class: 'form-control' %>
      </td>
    </tr>
    <tr>
      <th>
        <%= form.label :server_id, style: "display: block" %>
      </th>
      <td>
        <%= form.select :server_id, options_from_collection_for_select(Server.all, :id, :name), {}, {class: 'form-control'} %>
      </td>
    </tr>
    <tr>
      <th>
        <%= form.label :project_id, style: "display: block" %>
      </th>
      <td>
        <%= form.select :project_id, options_from_collection_for_select(Project.all, :id, :name), {}, {class: 'form-control'} %>
      </td>
    </tr>
  </table>
  <%= form.submit class: 'btn btn-primary' %>
<% end %>
