<!DOCTYPE html>
<html>
  <head>
    <title>Board</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="padding: 0 20px;">
    <% if manager_signed_in? %>
      <nav class="navbar navbar-default" role="navigation">
        <span style="line-height: 50px;">
          <%= link_to "Projects", projects_path, class: 'menu' %>
          <%= link_to "Servers", servers_path, class: 'menu' %>
          <%= link_to "Ips", ips_path, class: 'menu' %>
          <%= link_to "IpMappings", ip_mappings_path, class: 'menu' %>
          <%= link_to "Emails", emails_path, class: 'menu' %>
          <%= link_to "Config Items", config_items_path, class: 'menu' %>
          <%= link_to "Jobs", jobs_path, class: 'menu' %>
        </span>
        <ul class="nav navbar-nav" style='float:right'>
          <li><%= link_to "Welcome：#{current_manager.try :email}" %></li>
          <li>
            <%= link_to 'Sign out', destroy_manager_session_path, :method => :delete  %>
          </li>
        </ul>
      </nav>
    <% end %>

    <%= yield %>
  </body>
</html>
