<!DOCTYPE html>
<html>
  <head>
    <title>Board</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body style="padding: 0 20px;">
    <% if manager_signed_in? %>
      <nav class="navbar navbar-default" role="navigation">
        <span style="line-height: 50px;">
          <%= link_to "Projects", projects_path, class: 'menu' %>
          <%= link_to "Servers", servers_path, class: 'menu' %>
          <%= link_to "FOFA Count", fofa_count_servers_path, class: 'menu' %>
          <%= link_to "Ips", ips_path, class: 'menu' %>
          <%= link_to "IpMappings", ip_mappings_path, class: 'menu' %>
          <%= link_to "Emails", emails_path, class: 'menu' %>
          <%= link_to "Config Items", config_items_path, class: 'menu' %>
          <%= link_to "Jobs", jobs_path, class: 'menu' %>
        </span>
        <ul class="nav navbar-nav" style='float:right'>
          <li><%= link_to "Welcome：#{current_manager.try :email}" %></li>
          <li>
            <%= link_to 'Sign out', destroy_manager_session_path, :method => :delete  %>
          </li>
        </ul>
      </nav>
    <% end %>

    <%= yield %>
  </body>
</html>
