<!DOCTYPE html>
<html>
  <head>
    <title>Board</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if manager_signed_in? %>
      <nav class="navbar navbar-default" role="navigation">
        <span style="line-height: 50px;">
          <%= link_to "projects", projects_path, class: 'menu' %>
          <%= link_to "servers", servers_path, class: 'menu' %>
          <%= link_to "ips", ips_path, class: 'menu' %>
          <%= link_to "emails", emails_path, class: 'menu' %>
        </span>
        <ul class="nav navbar-nav" style='float:right'>
          <li><%= link_to "欢迎你：#{current_manager.try :email}" %></li>
          <li>
            <%= link_to '退出', destroy_manager_session_path, :method => :delete  %>
          </li>
        </ul>
      </nav>
    <% else %>
      <ul class="nav navbar-nav" style='float:right'>
        <li>
          <%= link_to '登陆' , '/managers/sign_in', :method => :get%>
        </li>
      </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
