<p style="color: green"><%= notice %></p>
<h1>Ips</h1>
<%= form_tag '', method: 'GET' do |f| %>
  <br/>
  <label>search by project:</label> <br/>
  Project：<%= select_tag :project_id, options_from_collection_for_select(Project.all, :id, :name, params[:project_id]), include_blank: 'all', class: 'form_select' %>
  <br/>
  <label>search by server:</label> <br/>
  Like by name: <%= text_field_tag "like_by_name", params[:like_by_name], placeholder: 'e.g. beiersdorf' %>
  Equal by name: <%= text_field_tag "equal_by_name", params[:equal_by_name], placeholder: 'e.g. beiersdorf.com' %>
  <br/>
  <label>order by: </label> <br/>
  <%= text_field_tag "order_by", params[:order_by], placeholder: 'e.g. ip desc' %>
  <br/>
  <%= submit_tag 'search' %>
<% end %>

<%= paginate @ip_mappings %>, total: <%= @total_count %>,
<%= link_to "new batch ips", new_batch_ips_ips_path, target: '_blank' %>
<%= link_to 'Download csv', download_csv_ips_path %>

<table class='table table-bordered table-hovered table-striped'>
  <tr>
    <td style='width:50px'>id</td>
    <td style='width: 150px'>ip</td>
    <td style='width: 250px'>domains <br/> (only display max 20 records) </td>
    <td style='width: 1100px'>nmap_result</td>
    <td style='width: 150px'>location</td>
  </tr>
  <% @ip_mappings.map(&:ip_id).uniq.each do |ip_id|
    ip = Ip.find ip_id
  %>

  <tr>
    <td> <%= ip.id %> </td>
    <td> <%= link_to ip.ip, ip %> </td>
    <td>
      <% ip.servers.first(20).each do |server, index| %>
        <%= link_to server.name, server %> <br/>

      <% end %>
      <!--
      (<%# ip.servers.count %>)
      -->
    </td>
    <td>
      <pre><%= ip.nmap_result %>
      </pre>
    </td>
    <td><%= ip.location %> </td>
    <td><%= ip.created_at %> </td>
    <td>
      <%= link_to "Show", ip %>
      <%= link_to "Edit", edit_ip_path(ip) %>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @ip_mappings %>

<style>
table {
  border: 1px solid black;
  table-layout: fixed;
  width: 200px;
}

th,
td {
  border: 1px solid black;
  width: 100px;
  overflow: hidden;
}
</style>
