<p style="color: green"><%= notice %></p>
<h1>Ips</h1>
<%= form_tag '', method: 'GET' do |f| %>
  <br/>
  <label>search by project:</label> <br/>
  Project：<%= select_tag :project_id, options_from_collection_for_select(Project.all, :id, :name), include_blank: 'all', class: 'form_select' %>
  <br/>
  <label>search by server:</label> <br/>
  Server name: <%= text_field_tag "server_name", params[:server_name], placeholder: 'e.g. beiersdorf' %>
  <br/>
  <br/>
  <%= submit_tag 'search' %>
<% end %>

<%= paginate @ips %>, total: <%= @total_count %>,
<%= link_to "new batch ips", new_batch_ips_ips_path, target: '_blank' %>
<%= link_to 'Download csv', download_csv_ips_path %>
<table class='table table-bordered table-hovered table-striped'>
  <tr>
    <td style='width:50px'>id</td>
    <td style='width: 150px'>ip</td>
    <td style='width: 250px'>domains </td>
    <td style='width: 1100px'>nmap_result</td>
    <td style='width: 150px'>location</td>
  </tr>
  <% @ips.each do |ip| %>
  <tr>
    <td> <%= ip.id %> </td>
    <td> <%= link_to ip.ip, ip %> </td>
    <td>
      <% ip.servers.each do |server| %>
        <%= link_to server.name, server %> <br/>
      <% end %>
      (<%= ip.servers.count %>)
    </td>
    <td>
      <pre><%= ip.nmap_result %>
      </pre>
    </td>
    <td><%= ip.location %> </td>
    <td><%= ip.created_at %> </td>
    <td>
      <%= link_to "Show", ip %>
      <%= link_to "Edit", edit_ip_path(ip) %>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @ips %>

<style>
table {
  border: 1px solid black;
  table-layout: fixed;
  width: 200px;
}

th,
td {
  border: 1px solid black;
  width: 100px;
  overflow: hidden;
}
</style>
