<p style="color: green"><%= notice %></p>
<h1>Ips</h1>
<%= form_tag '', method: 'GET' do |f| %>
  <b>search by project:</b><br/>
  Project：<%= select_tag :project_id, options_from_collection_for_select(Project.all, :id, :name, params[:project_id]), include_blank: 'all', class: 'form_select' %>
  <br/>
  <b>search by server:</b><br/>
  Like by server name:<%= text_field_tag "like_name", params[:like_name], placeholder: 'e.g. beiersdorf', class: 'form_select' %>
  Equal by server name:<%= text_field_tag "equal_name", params[:equal_name], placeholder: 'e.g. beiersdorf', class: 'form_select' %>
  Server level: <%= text_field_tag "levels", params[:levels], placeholder: 'e.g. 1,2,3', class: 'form_select' %>
  has_nmap_result: <%= select_tag "is_detected_by_nmap", options_for_select(['all', '1', '0'], params[:is_detected_by_nmap]), class: 'form_select' %>
  Like by nmap result: <%= text_field_tag "like_nmap_result", params[:like_nmap_result], placeholder: "e.g. open ssh", class: 'form_select' %>
  <br/>

  per page: <%= select_tag :per_page, options_for_select([500, 1000, 100], params[:per_page].to_i), class: 'form_select' %>
  <%= submit_tag 'search' %>
<% end %>
<%= link_to "new batch ips", new_batch_ips_ips_path, target: '_blank' %>&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Download csv', download_csv_ips_path(request.query_parameters) %>
<br/>
total: <%= @total_count %><br/>
<%= paginate @ips %>
<table class='table table-bordered table-hovered table-striped'>
  <tr>
    <td style='width:50px'>id</td>
    <td style='width: 150px'>ip</td>
    <td style='width: 250px'>domains <br/> (only display max 20 records) </td>
    <td style='width: 1100px'>nmap_result</td>
    <td style='width: 150px'>location</td>
    <td style='width: 150px'>Created at</td>
    <td style='width: 150px'>Operations</td>
  </tr>
  <% @ips.each do |ip| %>

  <tr>
    <td> <%= ip.id %> </td>
    <td> <%= link_to ip.ip, ip %> </td>
    <td>
      <% ip.servers.first(20).each do |server, index| %>
        <%= link_to server.name, server %> <br/>

      <% end %>
      <!--
      (<%# ip.servers.count %>)
      -->
    </td>
    <td>
      <pre><%= ip.nmap_result %>
      </pre>
    </td>
    <td><%= ip.location %> </td>
    <td><%= ip.created_at %> </td>
    <td>
      <%= link_to "Show", ip %>
      <%= link_to "Edit", edit_ip_path(ip) %>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @ips %>

<style>
table {
  border: 1px solid black;
  table-layout: fixed;
  width: 200px;
}

th,
td {
  border: 1px solid black;
  width: 100px;
  overflow: hidden;
}
</style>
